.progress-container {
    width: 100%;
    height: 16px;
    background-color: var(--c-grey);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: var(--primary);
    width: 0%;
    transition: width 0.5s ease-out;
    position: relative;
    border-radius: 10px;
}

/* Glossy Highlight */
.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    /* Top 30% */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
}